@use '@angular/material' as mat;
@use 'theme-colors.scss' as my-theme; // location of generated file

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  

  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: 'Roboto, sans-serif',
    density: 0,
  ));
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

