.board {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100%;
    text-align: center;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;    
    
}

.two {
    grid-column: 2 / 2;
    grid-row: 1;
    
}

.three {
    grid-column: 1 / 2;
    grid-row: 2;
    
}

.four {
    grid-column: 2 / 2;
    grid-row: 2;
    
}

.five {
    grid-column: 1 / 2;
    grid-row: 3;
    
}

.six {
    grid-column: 2 / 2;
    grid-row: 3;
}